<div ng-controller="EnkelMedia.SeoVisualizerController">

    <div class="sv-form">
        <div>
            <input type="text" ng-model="title" placeholder="Enter the Page Title" />
            <p ng-class="{'seo-invisible' : title.length > maxCharsTitle }" class="sv-error">The optimal length is less than {{maxCharsTitle}} characters.</p>
        </div>
        <div>
            <textarea ng-model="description" placeholder="Enter a Page Description"></textarea>
            <p ng-class="{'seo-invisible' : description.length > maxCharsDescription }" class="sv-error">The optimal length is less than {{maxCharsDescription}} characters.</p>
        </div>
    </div>
    <div class="sv-demo">
        <h6>{{getTitle()}}</h6>
        <p class="sv-url">{{GetUrl()}}</p>
        <p>{{description}}</p>
    </div>
    <div style="clear:both"></div>

</div>