
/* containers */
div.sv-form
{
    width: 30%;
    float: left;
    margin-right: 40px;
}

div.sv-demo
{
    width: 600px; /* The width of the desktop-SERP as of 2019-11-14 */
    float: left;
}

/* form elements */
div.sv-form input, div.sv-form textarea
{
    width:100%;
}

div.sv-form textarea 
{
    height: 100px;
}

/* general text formating */

div.sv-demo h6, div.sv-demo p
{
    font-family:Arial, Helvectiva, san-serif;
    padding:0;
    margin:0;
}

/* form text formating */

div.sv-form p.sv-error
{
    color:red;
    margin-top: 3px;

}

/* demo-mode text formating */

div.sv-demo h6
{
    font-size: 20px;
    line-height: 1.3;
    margin-bottom:3px;
    color:blue; 
    text-decoration:underline;
}

div.sv-demo p
{
    font-size: 14px;
    margin-bottom:3px;
    line-height: 1.57;
    word-wrap: break-word;
}

div.sv-demo p.sv-url
{
    color:#00802a;
}


