/SeoVisualizer.Web/
packages

*/bin/
*/obj/


*/_Resharper*

*.log
*TraceLog.txt
*.user
*.suo
*.nuget
*.dll
*.hash
*.nupkg

packages
!packages/repositories.config
.vs/
SeoVisualizer/umbPackPush.cmd
*.zip
